@import 'colors';
@import '../../node_modules/bourbon/core/bourbon';

@mixin buttonMix($color) {
  background-color: $color;
  &:hover {
    background-color: darken($color, 10) !important;
  }
  &:disabled {
    background-color: shade($color, 10%) !important;
  }
}
@mixin buttonOutline($color) {
  background-color: inherit;
  border-color: $color;
  border-style: solid;
  border-width: 1px;
  svg {
    height: 48px;
  }
  &:hover {
    background-color: $color !important;
  }
  &:disabled {
    background-color: $color !important;
  }
}

button.btn {
  height: 35px;
  padding-left: 5px;
  font-weight: 400;
  color: inherit;
  margin-left: 1px;
  margin-right: 1px;
  border-style: none;
  font-family: inherit;
  display: inline-block;
  font-size: 0.9375rem;

  svg,
  img {
    fill: $white;
    width: 33px;
    height: 33px;
    // margin: 5px;
  }
  &.btn-sm {
    font-size: 0.8203125rem;
    height: 28px !important;
    svg,
    img {
      fill: $white;
      width: 26px;
      height: 26px;
      // margin: 5px;
    }
  }
  &.btn-lg {
    font-size: 1.171875rem;
    height: 45px !important;
    svg,
    img {
      fill: $white;
      width: 43px;
      height: 43px;
      // margin: 5px;
    }
  }
  &.btn-primary {
    @include buttonMix(($primary));
  }

  &.btn-secondary {
    @include buttonMix(($secondary));
  }
  &.btn-success {
    @include buttonMix(($success));
  }
  &.btn-info {
    @include buttonMix(($info));
  }
  &.btn-warning {
    @include buttonMix(($warning));
  }
  &.btn-danger {
    @include buttonMix(($danger));
  }
  &.btn-light {
    @include buttonMix(($light));
  }
  &.btn-dark {
    @include buttonMix(($dark));
  }
  &.btn-link {
    @include buttonMix(($primary));
  }
  &.btn-outline-primary {
    @include buttonOutline(($primary));
  }
  &.btn-outline-secondary {
    @include buttonOutline(($secondary));
  }
  &.btn-outline-success {
    @include buttonOutline(($success));
  }

  &.btn-outline-info {
    @include buttonOutline(($info));
  }
  &.btn-outline-warning {
    @include buttonOutline(($warning));
  }
  &.btn-outline-danger {
    @include buttonOutline(($danger));
  }
  &.btn-outline-light {
    @include buttonOutline(($light));
  }
  &.btn-outline-dark {
    @include buttonOutline(($dark));
  }
}
