@import 'colors';
@import '../../node_modules/bourbon/core/bourbon';

@mixin buttonMix($color) {
  background-color: $color;
  &:hover {
    background-color: darken($color, 10) !important;
  }
  &:disabled {
    background-color: shade($color, 10%) !important;
  }
}

button.btn {
  height: 35px;
  padding-left: 5px;
  font-weight: 400;
  color: inherit;
  margin-left: 1px;
  margin-right: 1px;
  border-style: none;
  font-family: inherit;
  display: inline-block;
  &.btn-primary {
    @include buttonMix(($primary));
  }

  &.btn-secondary {
    @include buttonMix(($secondary));
  }
  &.btn-success {
    @include buttonMix(($success));
  }
  &.btn-info {
    @include buttonMix(($info));
  }
  &.btn-warning {
    @include buttonMix(($warning));
  }
  &.btn-danger {
    @include buttonMix(($danger));
  }
  &.btn-light {
    @include buttonMix(($light));
  }
  &.btn-dark {
    @include buttonMix(($dark));
  }
  &.btn-link {
    @include buttonMix(($primary));
  }
  &.btn-outline-primary {
    @include buttonMix(($primary));
  }
  &.btn-outline-secondary {
    @include buttonMix(($secondary));
  }
  &.btn-outline-success {
    @include buttonMix(($success));
  }

  &.btn-outline-info {
    @include buttonMix(($info));
  }
  &.btn-outline-warning {
    @include buttonMix(($warning));
  }
  &.btn-outline-danger {
    @include buttonMix(($danger));
  }
  &.btn-outline-light {
    @include buttonMix(($light));
  }
  &.btn-outline-dark {
    @include buttonMix(($dark));
  }
}
