@import 'colors';

.navbar {
  width: 100%;
  height: 48px;
  &.navbar-dark.bg-dark {
    background-color: $dark;
  }
  &.navbar-light {
  }
  &.fixed-top {
  }
  &.fixed-bottom {
  }
  &.sticky-top {
  }
  form {
  }
  .navbar-brand {
  }

  .navbar-text {
  }
  .collapse.navbar-collapse {
  }
  .navbar-toggler {
  }
  .navbar-expand-* {
  }
}
