@import 'colors';
@import '../../node_modules/bourbon/core/bourbon';

.nav-vertical {
  background-color: $dark;
  height: 100vh;
  grid-template-rows: repeat(auto-fit, 48px);
  // border-right-style: solid;
  @include media-breakpoint-only(xs) {
    color: yellow !important;
    //
  }
  @media (max-width: 575.98px) {
    // float: left !important;
    // position: fixed;
    // background-color: $dark;
    // > * {
    //   visibility: hidden   !important;
    // }
  }
  > * {
    max-width: 250px;
    background-color: inherit;
    color: $light;
    display: grid;

    grid-template-columns: 48px auto;

    grid-gap: 5px;

    :first-child {
      margin-left: 12px;
    }
    :last-child {
      width: 90%;
    }

    align-items: center;
    justify-items: left;

    > input[type='text'] {
      background-color: $light;
      max-width: 250px;
    }
    svg {
      width: 40px;
    }
  }
}
.full-height {
  height: 100vh;
}
